#title {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
}

.maindivs {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact {
    text-align: center;
    margin-top: 20px;
}

#coords {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: calc(xvar(--bg-color, #f9f9f9));
}